include LICENSE
include README.md
include MANIFEST.in
recursive-include * makefile
recursive-include * make.bat
recursive-include demo *.py
recursive-include docs *.py
recursive-include docs *.md
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
